/*Todo*/
*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}


/*Encabezado*/
header {
    background-color: #669bbc;
    color: white; 
    padding: 3%;
}
header h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}


/*Barra de navegacion*/
nav{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: #D4AF37 ;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}


/*Seccion Introduccion*/
#principal{
    background-image: url(img/argentina_fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
    text-align: center;
}

#principal h2{
    padding-top: 200px;
    padding-bottom: 30px;
}

.icon {
    height: 80px;
    background-color: #0e6ba8; 
    border-radius: 50%;
    padding: 10px;  
    
}

.info{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 30px; 
}


/*Principal*/
/*Cultura*/
#cultura{
    padding: 30px;
    margin: 30px;
}

#cultura .cultura_info{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

#cultura h2{
    color: #0e6ba8;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}

#cultura img{
    height: 450px;
    max-width: 50%;
}

#cultura p{
    text-align: justify;
    min-width: 300px;
}


/*Ejemplos*/
.ejemplos_cultura{
    display:flex;
    justify-content: center;
    /*align-items: center;*/
    margin: 50px;
    flex-wrap: wrap;
    text-align: center;
}

.ejemplo{
    background-color: #bde0fe;
    margin: 10px;
    padding: 20px;
    width: 450px;
}

.ejemplo img{
    height: 250px;
    padding: 10px;  
}

.ejemplo p{
    text-align: justify;
}


/*Pie de pagina*/
footer{
    background-color: #669bbc;
    color: white;
    text-align: center;
    padding: 30px;
}


/*Museos*/
#museos{
    margin: 30px;
    text-align: center;
}

.todos_museos{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
    flex-wrap: wrap;
}

#museos h2{
    color:#0e6ba8;
    text-transform: uppercase;
    padding: 10px;
}

.ejemplo_museo{
    margin: 10px;
    padding: 20px;
    width: 450px;
}

.ejemplo_museo h3{
    color: #D4AF37;
}
.ejemplo_museo img{
    height: 250px;
    padding: 10px;
}


/*Contacto*/
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: white; 
}

#contacto h2, #seccion2 h2{
    color: #0e6ba8;
    margin: 20px;
    text-align: center;
}

form {
    background-color: #adb5bd;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
}

form fieldset{
    border:none;
}

form fieldset .entrada{
    display: block;
    width: 580px;
}

form fieldset .mensaje{
    height: 150px;
    display: block;
    width: 580px;
}

.boton{
    background-color: #0e6ba8;
    font-weight: bold;
    color: white; 
    border:none;
    padding: 12px;
    margin-top: 20px;
    width: 580px;
}

#seccion2{
    padding: 30px;
}

.all_redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    text-align: center;
}
.redes img{
    width: 75px;
}